body{
	margin: .5in;
}

div{
	/*background-color: yellow;*/
}

p{
	/*background-color: red;*/
	margin-left: 15px;
	margin-right: 15px;
}

#topbar {
	position: relative;
}

.barbutton {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.barbutton a {
	text-decoration: none;
}
